.*
.*/
*.ipr
*.iws
*.iml
*.db
*.log
logs
mobilelog
target
.idea
bin
*.class
!.gitignore
*.classpath
.classpath
*.settings
.settings/
.project
*.project
.myeclipse
*.tar.gz
*/target/
/target/
/.classpath
/target
